# 4.6 Answers continuation

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

### Step 3

In [2]:
path = r'C:\Users\jmowe\OneDrive\5-9-2023 Instacart Basket Analysis'

In [3]:
df_orders_products_combined = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

### Step 4

In [4]:
df_orders_products_combined.shape

(32434489, 10)

In [5]:
df_orders_products_combined.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

### Step 5

In [6]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'))

In [7]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [9]:
# 'product_id' is shared between both data sets. It will be the shared key.

In [15]:
df_orders_products_combined = df_orders_products_combined.drop(columns = ['_merge'])

In [16]:
df_allmerged = df_orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)

In [17]:
df_allmerged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

### Step 6

In [18]:
df_allmerged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [19]:
df_allmerged.shape

(32404859, 14)

### Step 7

In [20]:
df_allmerged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))